<div class="container">
  <nz-alert
    *ngIf="
      (alertaService.tipoAlerta$ | async) &&
      (alertaService.mensagemAlerta$ | async)
    "
    [nzType]="(alertaService.tipoAlerta$ | async) || 'info'"
    [nzMessage]="alertaService.mensagemAlerta$ | async"
    nzShowIcon
    nzCloseable
    (nzOnClose)="alertaService.limparAlerta()"
  ></nz-alert>

  <div class="container-busca">
    <h2>Buscar Usuários</h2>
    <form [formGroup]="filtroForm" (ngSubmit)="buscarUsuarios()">
      <input nz-input placeholder="Nome" formControlName="nome" />
      <input nz-input placeholder="Email" formControlName="email" />
      <input
        nz-input
        placeholder="CPF"
        formControlName="cpf"
        mask="000.000.000-00"
      />
      <input nz-input placeholder="Telefone" formControlName="telefone" />
      <nz-select placeholder="Perfil" formControlName="perfil" nzAllowClear>
        <nz-option
          *ngFor="let perfil of perfis"
          [nzValue]="perfil.id"
          [nzLabel]="perfil.nome"
        ></nz-option>
      </nz-select>
      <nz-select placeholder="Cargo" formControlName="cargo" nzAllowClear>
        <nz-option
          *ngFor="let cargo of cargos"
          [nzValue]="cargo.id"
          [nzLabel]="cargo.nome"
        ></nz-option>
      </nz-select>
      <button [nzLoading]="carregando" nz-button nzType="primary" type="submit">
        <i nz-icon nzType="search"></i> Buscar
      </button>
    </form>
  </div>

  <h2>Lista de Usuários</h2>
  <nz-table
    #tabelaPrincipal
    class="tabela-padrao"
    [nzData]="usuarios"
    [nzPageSize]="itensPorPagina"
    [nzFrontPagination]="false"
    [nzPageIndex]="paginaAtual"
    [nzLoading]="carregando"
    [nzBordered]="true"
    [nzTotal]="totalElementos"
    (nzPageIndexChange)="aoMudarPagina($event)"
  >
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">Email</th>
        <th scope="col">CPF</th>
        <th scope="col">Telefone</th>
        <th scope="col">Perfil</th>
        <th scope="col">Cargo</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios">
        <td>{{ usuario.id }}</td>
        <td>{{ usuario.pessoa.nome }}</td>
        <td>{{ usuario.email }}</td>
        <td>{{ usuario.pessoa.cpf | CPF }}</td>
        <td>{{ usuario.pessoa.telefone | telefone }}</td>
        <td>
          <ng-container *ngFor="let perfil of usuario.perfis; let i = index">
            {{ perfil.nome
            }}<span *ngIf="i < usuario.perfis.length - 1">, </span>
          </ng-container>
        </td>
        <td>{{ usuario.cargo.nome }}</td>
        <td>
          <a [routerLink]="['/usuarios/update', usuario.id]">
            <i
              nz-icon
              nzType="edit"
              nzTheme="outline"
              title="Atualizar Usuário"
            ></i>
          </a>
          <a [routerLink]="['/usuarios/delete', usuario.id]">
            <i
              nz-icon
              nzType="delete"
              nzTheme="outline"
              title="Deletar Usuário"
            ></i>
          </a>
          <a [routerLink]="['/horarios/consultar', usuario.id]">
            <i
              nz-icon
              nzType="clock-circle"
              nzTheme="outline"
              title="Horário Usuário"
            ></i>
          </a>
          <a [routerLink]="['/registro-ponto/manual', usuario.id]">
            <i
              nz-icon
              nzType="history"
              nzTheme="outline"
              title="Registros Ponto Usuário"
            ></i>
          </a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
