<div class="container">
  <nz-alert
    *ngIf="
      (alertaService.tipoAlerta$ | async) &&
      (alertaService.mensagemAlerta$ | async)
    "
    [nzType]="(alertaService.tipoAlerta$ | async) || 'info'"
    [nzMessage]="alertaService.mensagemAlerta$ | async"
    nzShowIcon
    nzCloseable
    (nzOnClose)="alertaService.limparAlerta()"
  ></nz-alert>

  <div class="container-busca">
    <h2>Buscar Perfis</h2>
    <form [formGroup]="filtroForm" (ngSubmit)="carregarPerfis()">
      <input nz-input type="number" placeholder="Número" formControlName="id" />
      <input nz-input placeholder="Nome" formControlName="nome" />
      <input nz-input placeholder="Descrição" formControlName="descricao" />
      <button [nzLoading]="carregando" nz-button nzType="primary" type="submit">
        <i nz-icon nzType="search"></i> Buscar
      </button>
    </form>
  </div>
  <h2>Lista de Perfis</h2>
  <nz-table
    #tabelaPrincipal
    class="tabela-padrao"
    [nzData]="perfis"
    [nzPageSize]="itensPorPagina"
    [nzFrontPagination]="false"
    [nzPageIndex]="paginaAtual"
    [nzLoading]="carregando"
    [nzBordered]="true"
    [nzTotal]="totalElementos"
    (nzPageIndexChange)="aoMudarPagina($event)"
  >
    <thead>
      <tr>
        <th scope="col">Número</th>
        <th scope="col">Nome</th>
        <th scope="col">Descrição</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let perfil of perfis">
        <td>{{ perfil.id }}</td>
        <td>{{ perfil.nome }}</td>
        <td>{{ perfil.descricao }}</td>
        <td>
          <a [routerLink]="['/perfis/update', perfil.id]">
            <i
              nz-icon
              nzType="edit"
              nzTheme="outline"
              title="Atualizar Perfil"
            ></i>
          </a>
          <a [routerLink]="['/perfis/delete', perfil.id]">
            <i
              nz-icon
              nzType="delete"
              nzTheme="outline"
              title="Deletar Perfil"
            ></i>
          </a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>


