<div class="container-wrapper">
  <nz-spin [nzSpinning]="carregando">
    <div class="container">
      <nz-card [nzBordered]="false" class="form-container">
        <form
          nz-form
          nzLayout="vertical"
          [formGroup]="usuarioForm"
          (ngSubmit)="delete()"
          class="usuario-form"
        >
          <h2 class="form-title">Cadastrar Usuário</h2>
          <h3 class="form-section-title">Informações do Usuário</h3>

          <div class="form-row">
            <!-- Nome -->
            <nz-form-item class="form-item-full">
              <nz-form-label [nzRequired]="true" nzFor="nome"
                >Nome</nz-form-label
              >
              <nz-form-control>
                <input
                  id="nome"
                  nz-input
                  maxlength="50"
                  formControlName="nome"
                  placeholder="Digite o nome completo"
                  required
                />
                <div class="char-counter">
                  {{ usuarioForm.get("nome")?.value?.length || 0 }}/50
                  caracteres
                </div>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div class="form-row">
            <!-- Email -->
            <nz-form-item>
              <nz-form-label [nzRequired]="true" nzFor="email"
                >Email</nz-form-label
              >
              <nz-form-control>
                <input
                  id="email"
                  nz-input
                  type="email"
                  formControlName="email"
                  placeholder="Digite o email"
                  maxlength="100"
                  required
                />
              </nz-form-control>
            </nz-form-item>

            <!-- Telefone -->
            <nz-form-item>
              <nz-form-label [nzRequired]="true" nzFor="telefone"
                >Telefone</nz-form-label
              >
              <nz-form-control>
                <input
                  id="telefone"
                  nz-input
                  formControlName="telefone"
                  placeholder="Ex: (11) 99999-9999"
                  required
                  mask="(00) 00000-0000"
                />
              </nz-form-control>
            </nz-form-item>
          </div>

          <div class="form-row">
            <!-- Campo de CPF -->
            <nz-form-item>
              <nz-form-label nzRequired nzFor="cpf">CPF</nz-form-label>
              <nz-form-control nzErrorTip="Por favor, informe um CPF válido">
                <input
                  nz-input
                  id="cpf"
                  mask="000.000.000-00"
                  placeholder="000.000.000-00"
                  formControlName="cpf"
                />
              </nz-form-control>
            </nz-form-item>

            <!-- Campo de Data de Nascimento -->
            <nz-form-item>
              <nz-form-label [nzRequired]="true" nzFor="dataNascimento"
                >Data de Nascimento</nz-form-label
              >
              <nz-form-control>
                <nz-date-picker
                  id="dataNascimento"
                  formControlName="dataNascimento"
                  nzPlaceHolder="Selecione sua data de nascimento"
                  nzFormat="dd/MM/yyyy"
                ></nz-date-picker>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div class="form-row">
            <!-- Perfil -->
            <nz-form-item>
              <nz-form-label [nzRequired]="true" nzFor="perfil"
                >Perfil</nz-form-label
              >
              <nz-form-control>
                <nz-select
                  id="perfil"
                  formControlName="perfil"
                  nzPlaceHolder="Selecione o perfil"
                  required
                >
                  <nz-option
                    *ngFor="let perfil of perfis"
                    [nzValue]="perfil.id"
                    [nzLabel]="perfil.nome"
                  ></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>

            <!-- Tipo de Vínculo -->
            <nz-form-item>
              <nz-form-label [nzRequired]="true" nzFor="vinculo"
                >Tipo de Vínculo</nz-form-label
              >
              <nz-form-control>
                <nz-select
                  id="vinculo"
                  formControlName="vinculo"
                  nzPlaceHolder="Selecione o tipo de vínculo"
                  required
                >
                  <nz-option
                    *ngFor="let tipo of tiposVinculo"
                    [nzValue]="tipo"
                    [nzLabel]="tipo"
                  ></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>

            <!-- Cargo -->
            <nz-form-item>
              <nz-form-label [nzRequired]="true" nzFor="cargo"
                >Cargo</nz-form-label
              >
              <nz-form-control>
                <nz-select
                  id="cargo"
                  formControlName="cargo"
                  nzPlaceHolder="Selecione a Cargo"
                  required
                >
                  <nz-option
                    *ngFor="let cargo of cargos"
                    [nzValue]="cargo.id"
                    [nzLabel]="cargo.nome"
                  ></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div class="form-row">
            <!-- Senha -->
            <nz-form-item class="form-item-full">
              <nz-form-label [nzRequired]="true" nzFor="senha"
                >Senha</nz-form-label
              >
              <nz-form-control>
                <input
                  id="senha"
                  nz-input
                  type="password"
                  formControlName="senha"
                  placeholder="Digite a senha"
                  required
                />
              </nz-form-control>
            </nz-form-item>
          </div>

          <!-- Ações -->
          <div class="form-actions">
            <button
              type="button"
              nz-button
              nzType="default"
              (click)="cancelar()"
            >
              Cancelar
            </button>
            <button
              type="submit"
              nz-button
              nzType="primary"
              [nzLoading]="carregando"
            >
              Desativar
            </button>
          </div>
        </form>
      </nz-card>
    </div>
  </nz-spin>
</div>

